# First, ignore everything
*
# Now, whitelist anything that's a directory
!*/
# And all the file types you're interested in.
!*.k
!*.md
!*.py
!.gitignore
!*.txt
!*.csv
lsrun.out.txt
lsdynalog.txt
!LICENSE